* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: large;
}

body {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: antiquewhite;
}

.box {
  position: absolute;
 width: 650px;
  min-height: 400px;
  height: auto;
  background-color: white;
  padding: 5px 20px;
  border-radius: 20px;
  box-shadow: 2px 4px 10px black;
}
h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 800;
  padding: 10px 20px;
  font-size: 50px;
  text-align: center;
}

.add {
  padding: 8px;
  background-color: whitesmoke;
  padding-right: 20px;
  border-radius: 10px;
  border: 2px solid black;
  cursor: pointer;
  font-size: 20px;
}
input {
  align-items: start;
  border-radius: 20px;
  padding: 8px;
  padding-right: 8.2%;
  margin: 10px;
}

li {
  font-size: 20px;
  margin: 10px 10px;
  width: auto;
  height: auto;
  list-style: none ;
  padding: 5px 10px;
  background-color: rgb(196, 196, 245);
  display: flex;
  border-radius: 15px;
  
}

.remove {
  margin-left: auto;
  border: none;
  border-radius: 8px;
  padding: 2px;
}

.checked {
  background-color: red;
  text-decoration: line-through;
}

.add:hover{
  background-color: rgb(236, 234, 234);
}

li:hover{
  background-color: rgb(152, 152, 245);
}

li:nth-child(even) {
  background-color: rgb(224, 213, 213);
}

li:nth-child(even):hover{
  background: rgb(204, 196, 196);
}

@media (max-width:600px) {
 .box {
  width: 300px;
 } 
 h2{
  font-size: 30px;
 }
 .add{
  padding: 4px;
 }
 input{
  width: 150px;
 }
}